In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
train_data_path = '/home/dhakal/MoBI/data/LUAD/luad_train.csv'
test_data_path = '/home/dhakal/MoBI/data/LUAD/luad_test.csv'
features_path = '/home/dhakal/MoBI/data/LUAD/feature_name.csv'

In [3]:
train_df  = pd.read_csv(train_data_path, header=None )
test_df = pd.read_csv(test_data_path, header=None)
feat_df = pd.read_csv(features_path, header=None)   

print(train_df.shape)
print(test_df.shape)
print(feat_df.shape)

(259, 602)
(112, 602)
(600, 164)

In [4]:
train_df['Split'] = '1'
test_df['Split'] = '0'

In [5]:
train_df.head()

,0,1,2,3,4,5,6,7,8,9,...,593,594,595,596,597,598,599,600,601,Split
0,0,0.036797,0.102208,0.064468,0.099400,0.016367,0.048485,0.346765,0.153856,0.338625,...,0.195738,0.344990,0.206029,0.496794,0.668045,0.320176,0.531305,0.215514,1.0,1
1,1,0.134481,0.142136,0.449513,0.207805,0.013242,0.061923,0.258618,0.414069,0.383339,...,0.173489,0.851279,0.633766,0.311862,0.561325,0.518206,0.464578,0.224059,1.0,1
2,2,0.051523,0.268153,0.769798,0.422034,0.004894,0.041619,0.112553,0.233456,0.182910,...,0.154311,0.813181,0.505670,0.207219,0.481079,0.495629,0.447573,0.182588,1.0,1
3,3,0.047141,0.024976,0.177348,0.108355,0.015068,0.027486,0.071235,0.213737,0.179492,...,0.249789,0.681597,0.693368,0.780401,0.722557,0.367206,0.757851,0.291050,0.0,1
4,4,0.104142,0.102049,0.185081,0.200930,0.004059,0.060812,0.005335,0.201332,0.172493,...,0.356667,0.664440,0.450825,0.609615,0.512061,0.571902,0.466635,0.524035,1.0,1

In [6]:
test_df.head()

,0,1,2,3,4,5,6,7,8,9,...,593,594,595,596,597,598,599,600,601,Split
0,0,0.007199,0.072120,0.284365,0.111297,0.001267,0.043681,0.023324,0.265924,0.164347,...,0.312332,0.264435,0.276715,0.388098,0.585723,0.347389,0.149491,0.150905,1.0,0
1,1,0.035435,0.110463,0.454992,0.197798,0.002330,0.040183,0.007820,0.152043,0.146180,...,0.291218,0.750764,0.620876,0.362055,0.810856,0.386973,0.522026,0.427082,0.0,0
2,2,0.151455,0.814592,0.706044,0.678088,0.154557,0.530611,0.261991,0.135558,0.333632,...,0.223822,0.896915,0.531538,0.406548,0.274429,0.121836,0.660828,0.174745,1.0,0
3,3,0.034016,0.156763,0.308801,0.250268,0.002304,0.036396,0.180702,0.204673,0.135990,...,0.383492,0.705072,0.611063,0.070336,0.435909,0.488725,0.209891,0.327768,1.0,0
4,4,0.026972,0.039729,0.087654,0.108969,0.022021,0.041537,0.028913,0.210153,0.315079,...,0.533435,0.826372,0.757389,0.677414,0.673031,0.288284,0.576836,0.406344,1.0,0

In [7]:
feat_df.head()

,0,1,2,3,4,5,6,7,8,9,...,154,155,156,157,158,159,160,161,162,163
0,AATK|9625,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ABHD14A|25864,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ABHD14B|84836,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ACADS|35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ACE2|59272,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
feature_name = feat_df.iloc[:,0]
feature_name

0          AATK|9625
1      ABHD14A|25864
2      ABHD14B|84836
3           ACADS|35
4         ACE2|59272
           ...
595      hsa-mir-940
596      hsa-mir-942
597      hsa-mir-944
598       hsa-mir-96
599      hsa-mir-99b
Name: 0, Length: 600, dtype: object

In [9]:
#concatenate the train and test data
df = pd.concat([train_df, test_df], axis=0)
df.shape

(371, 603)

In [10]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,593,594,595,596,597,598,599,600,601,Split
0,0,0.036797,0.102208,0.064468,0.099400,0.016367,0.048485,0.346765,0.153856,0.338625,...,0.195738,0.344990,0.206029,0.496794,0.668045,0.320176,0.531305,0.215514,1.0,1
1,1,0.134481,0.142136,0.449513,0.207805,0.013242,0.061923,0.258618,0.414069,0.383339,...,0.173489,0.851279,0.633766,0.311862,0.561325,0.518206,0.464578,0.224059,1.0,1
2,2,0.051523,0.268153,0.769798,0.422034,0.004894,0.041619,0.112553,0.233456,0.182910,...,0.154311,0.813181,0.505670,0.207219,0.481079,0.495629,0.447573,0.182588,1.0,1
3,3,0.047141,0.024976,0.177348,0.108355,0.015068,0.027486,0.071235,0.213737,0.179492,...,0.249789,0.681597,0.693368,0.780401,0.722557,0.367206,0.757851,0.291050,0.0,1
4,4,0.104142,0.102049,0.185081,0.200930,0.004059,0.060812,0.005335,0.201332,0.172493,...,0.356667,0.664440,0.450825,0.609615,0.512061,0.571902,0.466635,0.524035,1.0,1

In [11]:
df = df.rename(columns ={601: 'Label'})

In [12]:
#rename the columns 1 to 600 to the feature names not the first column
df_new = df.rename(columns = dict(zip(df.columns[1:601], feature_name)))
df_new.drop(columns=[0], inplace=True)
# df = df.rename(columns = dict(zip(df.columns[0:600], feature_name)))
df_new.head()

,AATK|9625,ABHD14A|25864,ABHD14B|84836,ACADS|35,ACE2|59272,AGA|175,AHCYL2|23382,AKAP13|11214,AKIRIN2|55122,AKT3|10000,...,hsa-mir-9-2,hsa-mir-92a-1,hsa-mir-93,hsa-mir-940,hsa-mir-942,hsa-mir-944,hsa-mir-96,hsa-mir-99b,Label,Split
0,0.036797,0.102208,0.064468,0.099400,0.016367,0.048485,0.346765,0.153856,0.338625,0.517566,...,0.195738,0.344990,0.206029,0.496794,0.668045,0.320176,0.531305,0.215514,1.0,1
1,0.134481,0.142136,0.449513,0.207805,0.013242,0.061923,0.258618,0.414069,0.383339,0.060565,...,0.173489,0.851279,0.633766,0.311862,0.561325,0.518206,0.464578,0.224059,1.0,1
2,0.051523,0.268153,0.769798,0.422034,0.004894,0.041619,0.112553,0.233456,0.182910,0.018546,...,0.154311,0.813181,0.505670,0.207219,0.481079,0.495629,0.447573,0.182588,1.0,1
3,0.047141,0.024976,0.177348,0.108355,0.015068,0.027486,0.071235,0.213737,0.179492,0.049679,...,0.249789,0.681597,0.693368,0.780401,0.722557,0.367206,0.757851,0.291050,0.0,1
4,0.104142,0.102049,0.185081,0.200930,0.004059,0.060812,0.005335,0.201332,0.172493,0.114298,...,0.356667,0.664440,0.450825,0.609615,0.512061,0.571902,0.466635,0.524035,1.0,1

In [13]:
#make first 200 with label and split on the dataframe to mRNA df
mrna_df = df_new.iloc[:, np.r_[0:200, 600, 601]]

#save the mRNA df to csv
mrna_df.to_csv('/home/dhakal/MoBI/data/LUAD/mrna.csv', index=False)
mrna_df.head()

,AATK|9625,ABHD14A|25864,ABHD14B|84836,ACADS|35,ACE2|59272,AGA|175,AHCYL2|23382,AKAP13|11214,AKIRIN2|55122,AKT3|10000,...,UHRF1|29128,UNC13B|10497,VRK2|7444,WASF1|8936,ZNF202|7753,ZNF280D|54816,ZNF33B|7582,ZNF367|195828,Label,Split
0,0.036797,0.102208,0.064468,0.099400,0.016367,0.048485,0.346765,0.153856,0.338625,0.517566,...,0.139309,0.243348,0.273905,0.186803,0.756298,0.881938,0.285767,0.346471,1.0,1
1,0.134481,0.142136,0.449513,0.207805,0.013242,0.061923,0.258618,0.414069,0.383339,0.060565,...,0.123827,0.446774,0.102072,0.095259,0.414766,0.466224,0.485556,0.481854,1.0,1
2,0.051523,0.268153,0.769798,0.422034,0.004894,0.041619,0.112553,0.233456,0.182910,0.018546,...,0.015357,0.311127,0.125028,0.040040,0.300115,0.425375,0.538701,0.041621,1.0,1
3,0.047141,0.024976,0.177348,0.108355,0.015068,0.027486,0.071235,0.213737,0.179492,0.049679,...,0.221976,0.339324,0.325456,0.214647,0.300061,0.368526,0.195872,0.343817,0.0,1
4,0.104142,0.102049,0.185081,0.200930,0.004059,0.060812,0.005335,0.201332,0.172493,0.114298,...,0.195837,0.186298,0.353238,0.137165,0.279493,0.497201,0.435705,0.154310,1.0,1

In [14]:
methy = df_new.iloc[:, np.r_[200:400, 600, 601]]
methy.to_csv('/home/dhakal/MoBI/data/LUAD/methy.csv', index=False)
methy.head()

,A2ML1,AADACL3,AADACL4,ABAT,ABCC11,ABCC6P1,ADAM20,ADAM29,ADH1B,ALG1L2,...,USP40,WFDC12,WFDC5,WFDC8,WNK2,WNT8A,ZNF19,ZNF365,Label,Split
0,0.872835,0.831675,0.889179,0.459431,0.829102,0.669354,0.868865,0.818298,0.657717,0.758696,...,0.639965,0.681954,0.522895,0.885505,0.736669,0.888424,0.677143,0.677302,1.0,1
1,0.834948,0.944387,0.876711,0.806556,0.858099,0.728140,0.945112,0.899142,0.744947,0.658172,...,0.724699,0.875169,0.763387,0.806006,0.841194,0.711892,0.801109,0.690663,1.0,1
2,0.868338,0.832690,0.915799,0.921835,0.782169,0.754357,0.913819,0.866054,0.840661,0.634576,...,0.737150,0.911445,0.825745,0.883794,0.707072,0.784577,0.807774,0.736923,1.0,1
3,0.658408,0.577209,0.890820,0.896298,0.764972,0.749957,0.900889,0.876107,0.800162,0.623197,...,0.842611,0.860142,0.909129,0.868497,0.682884,0.797093,0.743925,0.472342,0.0,1
4,0.788273,0.401146,0.764794,0.903062,0.681940,0.811735,0.912955,0.930027,0.895543,0.941670,...,0.770166,0.941242,0.657637,0.923185,0.819503,0.908475,0.829287,0.647253,1.0,1

In [15]:
mirna = df_new.iloc[:, np.r_[400:600, 600, 601]]
mirna.to_csv('/home/dhakal/MoBI/data/LUAD/mirna.csv', index=False)
mirna.head()

,hsa-let-7a-1,hsa-let-7a-2,hsa-let-7a-3,hsa-let-7b,hsa-let-7c,hsa-let-7f-2,hsa-mir-103-1,hsa-mir-103-2,hsa-mir-105-1,hsa-mir-105-2,...,hsa-mir-9-2,hsa-mir-92a-1,hsa-mir-93,hsa-mir-940,hsa-mir-942,hsa-mir-944,hsa-mir-96,hsa-mir-99b,Label,Split
0,0.664663,0.663348,0.660264,0.781095,0.279503,0.816740,0.369717,0.371710,0.268073,0.268707,...,0.195738,0.344990,0.206029,0.496794,0.668045,0.320176,0.531305,0.215514,1.0,1
1,0.588043,0.592945,0.588260,0.528755,0.510020,0.614074,0.816660,0.464671,0.268073,0.197239,...,0.173489,0.851279,0.633766,0.311862,0.561325,0.518206,0.464578,0.224059,1.0,1
2,0.499603,0.503039,0.497841,0.450978,0.335097,0.588949,0.830785,0.304715,0.268073,0.268707,...,0.154311,0.813181,0.505670,0.207219,0.481079,0.495629,0.447573,0.182588,1.0,1
3,0.778873,0.777999,0.778320,0.761450,0.605210,0.783439,0.657816,0.659591,0.125258,0.198782,...,0.249789,0.681597,0.693368,0.780401,0.722557,0.367206,0.757851,0.291050,0.0,1
4,0.578736,0.581516,0.579464,0.591123,0.608738,0.562872,0.586799,0.566259,0.121770,0.122058,...,0.356667,0.664440,0.450825,0.609615,0.512061,0.571902,0.466635,0.524035,1.0,1